.card {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
}

.card:hover,
.cardImg:hover {
    scale: 1.01;
    cursor: pointer;
}

.cardImg {

    border-radius: 10px;
    height: 300px;
    width: 250px;
}

.cardBoard {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media screen and (min-width: 1300px) {
    .cardBoard {
        grid-template-columns: repeat(5, 1fr);
    }
}